.form-deduction {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  padding-top: 16px;
}

.form-deduction__title {
  @include font-middle-mob;
  margin-bottom: 8px;
  font-weight: 500;

  @media (min-width: $tablet-width) {
    @include font-middle-tab;
  }
}

.form-deduction__sum {
  margin-bottom: 12px;
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 8px;
  }
}

.form-deduction__container-decrease {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 12px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    margin-bottom: 40px;
  }
}

.form-deduction__group-buttons {
  padding-top: 16px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-left: 32px;
    padding: 0;
    padding-right: 55px;
  }
}

.input_error {
  margin-top: 4px;
  color: hsla(349, 100%, 46%, 1);
  font-size: 10px;
}

.input_error__disabled {
  display: none;
}

.form-deduction__action {
  @include font-small-mob;
  height: 24px;
  width: 76px;
  left: 32px;
  top: 264px;
  color: #EA0029;
  cursor: pointer;
  margin-top: -5px;

  &:hover {
    color: #F53A31;
  }
;

  @media (min-width: $tablet-width) {
    @include font-small-tab;
  }
}

.form-deduction__button-pay {
  margin-right: 8px;
}

.form-deduction__button-submit {
  margin-top: auto;
}