.input {
  @include font-middle-mobile;
  width: 100%;
  margin: 0;
  padding: 8px 10px;
  color: #000000;
  border: 1px solid #dfe3e6;
  border-radius: 3px;
  -webkit-appearance: none;
  -moz-appearance: textfield;

  &::placeholder {
    color: #bec5cc;
    opacity: 1;
  }
  
  &:-ms-input-placeholder {
    color: #bec5cc;
  }
  
  &::-ms-input-placeholder {
    color: #bec5cc;
  }

  &:hover {
    border: 1px solid #000000;
  }

  &:disabled {
    color: #808080;
    border: 1px solid #808080;
    background-color: transparent;
  }
}