.button {
  font-family: $font-family;
  color: #ffffff;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  white-space: normal;
  word-wrap: break-word;

  &--open-popup {
    @include font-small-mobile;
    min-width: 155px;
    padding: 12px 10px;
    border: 1px solid #ffffff;
    border-radius: 6px;
    background: transparent;

    &:hover {
      color: #000000;
      background-color: #ffffff;
    }

    &:disabled {
      color: #ffffff;
      border: 1px solid #bec5cc;
      background-color: #bec5cc;
    }

    @media (min-width: $tablet-width) {
      @include font-small-tablet;
      min-width: 200px;
      padding: 16px;
    }
  }

  &--decrease {
    @include font-middle-mobile;
    padding: 6px 12px;
    color: #333333;
    border: none;
    border-radius: 50px;
    background: #eef0f2;

    &:hover {
      background-color: #dfe3e6;
    }
  }
  
  &--decrease-active {
    color: #ffffff;
    background: $gradient-red;
    
    &:hover {
      background: $gradient-red;
    }
  }

  &--add {
    @include font-small-mobile;
    padding: 12px;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    background: $gradient-red;
    box-shadow: 0px 0px 24px rgba(234, 0, 41, 0.33);

    &:hover {
      background: #ea0029;
    }

    &:disabled {
      background: #bec5cc;
      box-shadow: none;
    }

    @media (min-width: $tablet-width) {
      padding: 16px;
      font-size: 16px;
      line-height: 24px;
    }
  }
}